@model Agromercado.AppMVC.Models.Categoria

<h2>Nueva Categoría</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Descripcion</label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Estado</label>
        <select asp-for="Estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}