@model Agromercado.AppMVC.Models.MovimientosInventario

@{
    ViewData["Title"] = "Detalle Movimiento";
}

<h2>Detalle del Movimiento</h2>

<div class="card">
    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">
                Producto
            </dt>
            <dd class="col-sm-9">
                @Model.Producto.Nombre
            </dd>

            <dt class="col-sm-3">
                Tipo Movimiento
            </dt>
            <dd class="col-sm-9">
                @Model.TipoMovimiento
            </dd>

            <dt class="col-sm-3">
                Cantidad
            </dt>
            <dd class="col-sm-9">
                @Model.Cantidad
            </dd>

            <dt class="col-sm-3">
                Fecha
            </dt>
            <dd class="col-sm-9">
                @Model.Fecha.ToString("dd/MM/yyyy HH:mm")
            </dd>

        </dl>

    </div>
</div>

<br />

<a asp-action="Index" class="btn btn-secondary">
    Volver
</a>